@import 'fonts'
@import 'colors'

.component-more-actions-button
  position: relative
  transition: .3s ease-in-out
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  .presentation
    cursor: pointer
    display: flex
    flex-direction: row
    align-items: center
    transition: .3s ease-in-out
    min-width: 107px
    height: 35px
    &:hover
      opacity: 0.5
  .icon__arrow-up
    transition: .3s ease-in-out
    font-size: 12.5px
    height: 25px
    width: 25px
    display: flex
    align-items: center
    color: #0096ff
    margin-top: -2px
    &.active
      margin-top: 0
      transform: rotate(180deg)
  .label
    font-family: $fontDemi
    font-size: 13px
    line-height: 15px
    letter-spacing: .3px
    color: $lightBlue
  .focus
    display: flex
    flex-direction: column
    align-items: center
    overflow: visible
    background-color: #ffffff
    box-shadow: 0 4px 6px 0 rgba(21, 32, 49, 0.15)
    padding: 10px
    position: absolute
    bottom: 61px
    transition: .3s ease-in-out
    .buttons
      width: 100%
      button
        margin-left: 0
        width: 100%
        white-space: nowrap
      button:not(:last-child)
        margin-bottom: 10px
    .icon__mark_lighter
      display: block
      position: absolute
      bottom: -15px
      &::after
        font-size: 25px
        color: #fff
      &:hover
        opacity: 1

