@import '_variables'
@import 'colors'

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

.loading
    width: $loadingSize
    height: $loadingSize
    position: absolute
    left: 50%
    top: 50%
    margin: (-$loadingSize/2) 0 0 (-$loadingSize/2)
    border-radius: 50%
    border: 5px solid transparent
    animation: spin $spinDuration infinite linear
    border-top-color: $deepSkyBlue

.loading__container
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba($paleGrey, .4)
    vertical-align: middle
    display: inline-block
    padding: 0 30px
    z-index: 99999

