@import 'colors'

.radio_button
  display: flex
  align-items: center
  flex-direction: row-reverse
  justify-content: flex-end
  cursor: pointer
  label
    margin-left: 5px
    cursor: pointer
  input[type=radio]
    position: relative
    margin-top: 10px
    margin-right: 4px
    vertical-align: top
    border: none
    background-color: transparent
    appearance: none
    -webkit-appearance: none
    cursor: pointer
    &:focus
      outline: none
    &:after, &:before
      content: ''
      display: block
      width: 11px
      height: 11px
      border-radius: 50%
      transition: 240ms
    &:before
      position: absolute
      left: 2px
      top: -1px
      background-color: $lightBlue
      transform: scale(0)
    &:after
      position: relative
      top: -3px
      border: 2px solid $grey
    &:checked
      &:before
        transform: scale(.6)
      &:after
        border-color: $lightBlue
  &--invalid
    input[type=radio]
      &:after
        border-color: $orangeRed
