@import 'fonts'
@import 'colors'

.Input
  &__subLabel
    font-size: 13px
    white-space: initial

.field__input
  label
    font-family: $fontDemi
    font-size: 13px
    line-height: 15px
    letter-spacing: .3px
    h4
      margin: 0
      white-space: nowrap
  input
    background-color: transparent
    display: block
    border: 0
    outline: none
    box-shadow: inset 0 -1px 0 0 $grey
    padding: 10px 0 10px
    font-size: 15px
    line-height: 25px
    letter-spacing: .3px
    min-width: 300px
    &:hover
      box-shadow: inset 0 -1px 0 0 $dark
    &:focus
      box-shadow: inset 0 -1px 0 0 $lightBlue
    &.field__input-error
      box-shadow: inset 0 -1px 0 0 $orangeRed

.field__error
  color: $orangeRed
