@import 'colors'
@import 'fonts'

button.button
  min-width: 145px
  padding: 0 14px
  height: 35px
  outline: none
  border: none
  transition: .3s ease-in-out
  text-align: center
  color: #fff
  border-radius: 8px
  cursor: pointer
  font-family: $fontDemi
  font-size: 13px
  line-height: 15px
  letter-spacing: .3px
  &--icon
    display: flex
    align-items: center
    justify-content: center
    .icon
      height: 25px
      display: flex
      align-items: center
      margin-right: 5px
      color: #fff
    .icon:after
      font-size: 25px

  &--blue
    background-color: $lightBlue
    &:hover
      background-color: $brightSkyBlue
  &--orange
    background-color: $mango
    &:hover
      background-color: #ffae5b
  &--gray
    background: none
    border: 2px solid $silver
    color: $silver
    i
      color: $silver
    .icon:after
      color: $silver
  &[type=reset]
    background-color: transparent
    color: $orangeRed
