.columns
  width: 100%
  display: flex
  flex-direction: column
.form
  .columns
    .columns
      &__row
        padding-bottom: 20px
        .columns__column
          .field__input
            width: 100%
            margin-bottom: 0
            input
              width: 100%
              min-width: 0
          .single-date
            width: 100%
          .single-date__input
            width: 100%
