@import 'colors'
@import 'fonts'
@import 'mixins'

.sign-modal
  padding-right: 10px
  padding-left: 15px
  padding-bottom: 15px
  .sign-modal
    &__info
      background-color: $lightGreenWithOpacity
      padding: 10px
      margin-top: 16.75px
      border-radius: 5px
    &__certificate
      &__label
        font-family: $fontBold
        font-size: 15px
        line-height: 25px
        letter-spacing: .3px
      &__text
        font-size: 15px
        line-height: 25px
        letter-spacing: .3px
    &__button-container
      margin-top: 20px
      @include flex()
      flex: 1
      justify-content: flex-end
      button
        margin-left: 15px
