@import 'colors'

.component-pagination
  display: flex
  align-items: center
  margin-right: 38px
  min-width: 108px
  .pagination
    min-width: 70px
    display: flex
    align-items: center
    justify-content: space-between
    .ico
      background: url('../../../../theme/images/icons/arrow.png') 100%
      background-size: cover
      display: block
      width: 25px
      height: 25px
      cursor: pointer
      &--forward
        transform: rotateY(180deg)
    span
      font-size: 13px
      line-height: 15px
      letter-spacing: 0.3px
  .drop
    transition: .3s ease-in-out
    position: relative
    cursor: pointer
    z-index: 999
    > span
      font-weight: bold
      //color: $color_fn_gray_1__extra
      // font-size: 1.2em
    &:hover
      span
        //color: $color_fn_gray_2__extra
  .field
    width: 50px
    height: 90px
    position: absolute
    top: -55px
    background-color: #fff
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    box-shadow: 0 4px 6px 0 rgba(21, 32, 49, 0.15)
    input
      width: 30px
      height: 25px
      text-align: center
      outline: none
      //color: $color_fn_gray_2__extra
      box-shadow: inset 0 -0.5px 0 0 #1ea3ff
