@import 'colors'

.PiesMark
  &__children
    position: absolute
    margin-left: 0
    margin-right: 0
    left: 0
    right: 0
    top: 18%
    text-align: center
  &__no-data
    h2
      color: $grey
      font-family: 'DIN2014Demi', sans-serif