@import 'mixins'

.componentFooter
  span
    font-family: $fontRegular
  .tablePaginationWrapper
    @include flex()
    flex: 1
    justify-content: space-between
    .control_panel_table
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        width: 300px
        .component-pagination .drop
          margin-left: 20px
    .actions
      display: flex
      flex-direction: row
      >button
        margin-left: 15px
    .selectedDocsCount
      color: $steel

@media screen and (max-width: 846px)
  .component-footer
    flex-direction: column
    min-height: 80px
    .control_panel_table
      margin-left: 0
    .actions
      margin-right: 0

