@import '../../theme/colors'
@import '../../theme/mixins'

.RangeDatePicker, .DateSinglePicker
  position: relative
  max-width: 320px
  min-width: 320px
  &__input
    height: 50px
    box-shadow: inset 0 -1px 0 0 $grey
    padding: 5px 0
    line-height: 25px
    letter-spacing: .3px
    cursor: pointer
    *
      transition: .3s ease-in-out
    &:hover
      box-shadow: inset 0 -1px 0 0 $dark
      .RangeDatePicker__input__content
        span
          color: $dark
        .icon:after
          color: $lightBlue
    &__content
      span
        font-family: 'DIN2014Regular',sans-serif
        font-size: 15px
        color: $grey
        line-height: 25px
      .icon
        position: absolute
        opacity: 1
        bottom: 0
        right: 5px
        &:after
          color: $grey
          font-size: 25px
    &__error
      box-shadow: inset 0 -1px 0 0 $orangeRed
      &:hover
        box-shadow: inset 0 -1px 0 0 $orangeRed
    &__focus
      box-shadow: none
      .field__error
        display: none
      .RangeDatePicker__input__content
        span
          color: $dark
        .icon:after
          color: $lightBlue
      &:hover
        box-shadow: none
  &__calendar
    position: absolute
    z-index: 4
    opacity: 0
    top: 20px
    box-shadow: 0 15px 45px 0 rgba(0, 0, 0, 0.2)
  &__btn
    display: flex
    justify-content: space-between
    background-color: #fff
    position: relative
    top: -5px
    margin: 0 auto
    width: auto
    padding: 10px
    &:before
      content: ''
      position: absolute
      height: 1px
      width: 90%
      left: 0
      right: 0
      top: 0
      margin: 0 auto
      box-shadow: inset 0 1px 0 0 #aaafb9
    button
      font-size: 13px
      font-family: 'DIN2014Bold',serif
      line-height: 15px
      transition: .3s ease-in-out
      cursor: pointer
    &__selected
      color: $lightBlue
      &:hover
        color: $dark
    &__reset
      color: $steel
      &:hover
        color: $orangeRed

.DateSinglePicker__calendar
  top: 17px

.RangeDatePicker__input
  h4
    position: relative
    bottom: 18px
  &__content
    position: relative
    bottom: 25px
    width: 100%

.DateSinglePicker__input
  h4
    margin: 0
  &__content
    position: relative
    width: 100%
    padding-bottom: 5px
    padding-top: 10px
    .icon
      bottom: 8px

/* Range date picker custom styles */
.DateRangePickerInput
  width: 100%
  height: 45px
  display: flex
  justify-content: space-between
  border: none
  background-color: transparent
  &__arrow
    position: relative
    top: 10px
    width: 1px
    height: 25px
    background-color: #d2d5dc
    svg
      display: none
.DateRangePicker
  width: 100%
  &__picker
    position: relative
    top: 0

.SingleDatePicker
  width: 100%
  .SingleDatePickerInput
    width: 100%
    background-color: transparent
    border: none
    .DateInput:last-child
      width: 100%
  &__picker
    position: relative
    top: 0

.DateInput
  padding: 8px 0
  border: none
  width: 159.5px
  box-shadow: inset 0 -1px 0 0 $grey
  background-color: transparent
  transition: .3s ease-in-out
  &--open-down
    &.DateInput--with-caret
      box-shadow: inset 0 -1px 0 0 #0195fd
      border: none
      *
        background: transparent
      .DateInput__display-text:after
        color: $lightBlue !important
      &:after, &:before
        content: none
  &__display-text
    color: $grey
    text-transform: lowercase
    font-size: 15px
    font-family: 'DIN2014Regular', sans-serif
    line-height: 25px
    letter-spacing: .3px
    &--focused
      background-color: transparent
      color: $dark
      border: none
  &:last-child
    transition: .3s ease-in-out
    &:hover
      .DateInput__display-text:after
        color: $lightBlue
    .DateInput__display-text:after
      content: '\e80e'
      position: absolute
      right: 5px
      font-family: 'icons'
      font-size: 24px
      color: $grey
  &:hover
    box-shadow: inset 0 -1px 0 0 $dark

.CalendarMonth
  width: 318px
  padding: 0
  position: relative
  left: -9px
  &__caption
    color: $dark
    padding: 13px 0 13px !important
    box-shadow: inset 0 -1px 0 0 #aaafb9
    margin: 0 auto 40px
    width: 90%
    strong
      font-family: 'DIN2014Demi', sans-serif
      text-transform: capitalize
      letter-spacing: .3px
      font-size: 15px
      position: relative
      top: 3px
      line-height: 25px
  table
    margin-top: 15px
    width: 100%

.DayPicker
  &__week-header
    left: 0
    padding: 0
    width: 100%
    ul
      padding: 0
      display: flex
      justify-content: space-between
      li, li > small
        font-family: 'DIN2014Regular', sans-serif
        font-size: 13px
        letter-spacing: .4px
        color: $dark
  &--horizontal
    box-shadow: none
    border-radius: 0

.CalendarDay
  border: none
  button
    font-family: 'DIN2014Regular'
    font-size: 15px
    line-height: 20px
    letter-spacing: -0.4px
    color: $dark
  &--selected-start, &--selected-end, &--selected
    font-weight: bold
    background-color: $brightSkyBlue !important
    button
      color: #fff
  &--selected-start
    border-bottom-left-radius: 50%
    border-top-left-radius: 50%
    pointer-events: none
  &--selected-end
    border-bottom-right-radius: 50%
    border-top-right-radius: 50%
  &--selected-span
    position: relative
    background-color: $lightBlue
    button
      color: #fff
    &:hover
      background-color: $lightBlue
      border: none
  &--hovered-span
    background-color: $lightBlue
    button
      color: #fff
    &:hover
      border-bottom-right-radius: 50%
      border-top-right-radius: 50%
  &--after-hovered-start, &--after-hovered-start:active
    background-color: transparent
  &--blocked-out-of-range:not(.CalendarDay--today)
    button
      color: $grey

.DayPickerNavigation
  button
    border: none
    background: transparent
    top: 13px !important
    *
      transition: .3s ease-in-out
    .icon
      color: $grey
      &:after
        font-size: 2.2em
      &:hover
        color: $lightBlue !important
        opacity: 1 !important
        &:after
          color: $lightBlue !important
    &:hover
      border: none
      background: transparent
      color: $lightBlue !important
      .icon
        opacity: 1 !important
        &:after
          color: $lightBlue !important
  &__prev
    @include rotate(-90)
  &__next
    @include rotate(90)

button.DayPickerNavigation__prev
  left: 0 !important
button.DayPickerNavigation__next
  right: 0 !important
