@import 'colors'

.component_toggle-column
  // position: relative
  display: flex
  .main_block
    transition: .3s ease-in-out
    .toggleIcon
      width: 25px
      height: 25px
      background: url("../../../../theme/images/icons/toggle-column.svg") no-repeat
    .ico
      text-align: center
      position: relative
      &:after
        transition: .3s ease-in-out
        content: "\e91e"
        font-family: icons
        font-weight: 100
        font-style: normal
        font-size: 14px
        border-radius: 50%
        cursor: pointer
    &.__rotate
      transform: rotate(135deg)
  .dropdown
    background-color: #fff
    min-width: 220px
    display: flex
    padding: 5px 10px
    flex-direction: column
    align-items: flex-start
    position: absolute
    top: 35px
    right: 125px
    box-shadow: 0 20px 30px 0 rgba(156, 161, 168, 0.37)
    z-index: 9999
    .tg_column.__header
      padding-top: 15px
      padding-bottom: 15px
      width: 100%
      box-shadow: inset 0 -1px 0 0 $grey
      display: flex
      align-items: center
      .count-checked
        display: inline
      span
        font-size: 13px
        font-weight: normal
    .checks
      width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      padding: 5px 0
    .label
      padding: 5px 0
      .checkbox
        width: auto
      h4
        margin: 0
        line-height: 20px
      label
        // color: $color_fn_dark__main
        font-size:  15px
        line-height: 20px
        letter-spacing: .3px
        position: relative
  .block--buttons
    padding-top: 15px
    padding-bottom: 15px
    width: 100%
    display: flex
    box-shadow: inset 0 1px 0 0 $grey
    flex-direction: row
    justify-content: space-between
    align-items: center
    h4
      margin: 0
      line-height: 20px
    .fn_btn
      cursor: pointer
      font-size: 13px
      transition: .3s ease-in-out
      &--apply
        letter-spacing: 0.3px
