@import 'colors'
@import 'icons.variables'

.RowActionsMenu
  padding-top: 5px
  button
    padding-left: 0
    padding-right: 0
  &__oneAction
    cursor: pointer
    &:hover
      .icon:after
        color: $lightBlue
    .icon:after
      color: $grey
      transition: .3 ease-in-out
      font-size: 1.8em

  &__dropdown
    width: 225px
    background: #fff
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, .3))
    padding: 5px 10px 5px 5px
    opacity: 0
    border-radius: 3px
    &:before
      content: ''
      position: absolute
      width: 0
      height: 0
      right: -15px
      margin: auto
      top: 0
      bottom: 0
      border-top: 15px solid transparent
      border-bottom: 15px solid transparent
      border-left: 15px solid #fff
  &__item
    display: flex
    align-items: center
    height: 30px
    cursor: pointer
    *
      transition: .3s ease-in-out
    .icon, .iconSvg
      color: $dark
      font-size: 11px
      margin-right: 10px
      &.iconSvg__crossDoc
        @include crossDoc($dark)
      &.iconSvg__trash
        @include trash($dark)
      &.iconSvg__closeRefresh
        @include closeRefresh($dark)
      &.iconSvg__download
        @include download($dark)
      &.iconSvg__time
        @include time($dark)
      &.iconSvg__take
        @include take($dark)

    span
      font-size: 15px
      color: $dark
      line-height: 15px
      letter-spacing: .3px
      font-family: 'DIN2014Regular', sans-serif
    &:hover
      *
        color: $lightBlue
      .iconSvg__crossDoc
        @include crossDoc($lightBlue)
      .iconSvg__trash
        @include trash($lightBlue)
      .iconSvg__closeRefresh
        @include closeRefresh($lightBlue)
      .iconSvg__download
        @include download($lightBlue)
      .iconSvg__time
        @include time($lightBlue)
      .iconSvg__take
        @include take($lightBlue)

