.SubHeader
  background-color: #fff
  padding: 10px 0 20px 0
  box-shadow: 0 0 3px 0 rgba(19, 31, 49, 0.25)
  &__content
    font-size: 15px
    span
      font-size: 15px
    h2
      margin-bottom: 5px