@import '../../theme/colors'

.xmlNode
  // transition: .15s cubic-bezier(0.25, 0.46, 0.45, 0.94)
  position: relative
  &__wrapper
    background-color: #fff
    width: 100%
    box-shadow: 0 -5px 40px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    border-radius: 4px
  &__container
    display: flex
  &__value
    padding-left: 20px
  &__tag
    cursor: pointer
    font-family: 'DIN2014Regular', sans-serif
    color: $textGreen
    &__close
      cursor: pointer
      color: $textGreen
      font-family: 'DIN2014Regular', sans-serif
      &:hover
        color: #285238
        &--content
          color: $dark
  &__collapsed
    &--entered
      opacity: 1
      //padding: 5px
      max-height: none
      z-index: 2
    &--exited, &--exiting
      opacity: 0
      z-index: -1
      position: absolute
      max-height: 0 !important
      margin: 0
      padding: 0

.xmlNodeTag
  font-size: 15px
  &__name, &__value
    font-size: 15px
    font-family: 'DIN2014Regular', sans-serif
  &__name
    color: $lightBlue
  &__value
    color: $orangeRed
  &__active
    color: #285238

.xmlNodeList
  padding: 5px 7px

.xmlNodeNumbers
  padding: 5px 25px 5px 5px
  background-color: $paleGrey
  *
    cursor: pointer
    // transition: .3s ease-in-out
    color: $steel
  &__hovered
    color: $dark
  &__turn, &__expand
    position: relative
    &:before
      content: '\E802'
      left: 15px
      font-family: 'icons', sans-serif
      font-size: 1.2em
      position: absolute
  &__turn
    &:before
      transform: rotate(180deg)
  &__expand:hover
    color: $dark
