@import '../../theme/colors'

.input_group
  .checkbox
    width: 100%
  &__list
    max-height: 130px
    overflow-y: scroll
    .checkbox
      span
        font-family: 'DIN2014Regular', sans-serif
        font-size: 15px
  &__buttons
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 auto
    box-shadow: inset 0 1px 0 0 #aaafb9
    width: 93%
    height: 45px
  &__btn_reset
    cursor: pointer
    transition: .3s ease-in-out
    &:hover
      color: $orangeRed
  &__btn_default
    cursor: pointer
    transition: .3s ease-in-out
    &:hover
      color: $dark
      opacity: 1 !important
