@import 'colors'
@import 'fonts'
@import 'mixins'

.success-modal
  padding-right: 10px
  padding-left: 15px
  padding-bottom: 15px
  .__body
  &__button-container
    margin-top: 20px
    @include flex()
    flex: 1
    justify-content: flex-end
    button
      margin-left: 15px
