@import 'fonts'
@import 'colors'
@import 'mixins'

.page__title
  position: relative
  @include flex()
  align-items: center
  width: 100%
  .icon
    cursor: pointer
  .page__title__back
    button
      border: none
      outline: none
      background: transparent
      cursor: pointer
    position: absolute
    left: -55px
    margin-top: 3px
    .icon
      &:after
        transition: .3s ease-in-out
      &:hover:after
        color: $grey
  .page__title__text
    display: flex
    flex: 1
    flex-direction: row
    align-items: flex-start
    &__link
      line-height: 35px
      margin: 18.75px 0 14.75px 15px
    .page__title__text
      &__date
        margin-left: 96px

.page__title__count
  display: flex
  align-items: center
  justify-content: space-between
  &__label
    white-space: nowrap
    @include text()
  &__number
    padding-left: 10px
    @include h1(-1px)

.Title
  &__sub-title
    margin-left: 95px
