@import 'colors'

.filter_panel
  &__wrapper
    display: flex
    flex-direction: column
    transition: max-height .3s ease-in-out
    z-index: 99
    height: 72%
    background-color: $lightGrey
  &__info-field
    margin-left: 25px
    position: relative
    bottom: 2px
  &__info-fields
    display: flex
    align-items: center
    .__reset-btn
      color: $orangeRed
  &__collapsed-block
    margin: 10px 0
    display: flex
    justify-content: space-between
    align-items: center
    &__left
      display: flex
      align-items: center
      .__count
        margin-left: 20px
    .icon__filter
      padding-left: 0
    &__right
      margin-right: 25px
      position: relative
      bottom: 15px
      display: flex
      align-items: center
      button
        position: relative
        top: 10px
        right: 20px
        &:hover
          &:after
            color: $orangeRed
  &__panel_one
    padding: 0 20px
  &__label
    font-weight: 700
  &__value
    padding-left: 5px
  .icon
    transition: .3s ease-in-out
    cursor: pointer
    &:hover
      color: $mango
  .panel__collapsed
    background-color: $paleGrey
    padding: 15px 15px 15px 65px
    box-shadow: 0 0 3px 0 rgba(19, 31, 49, 0.25)
    transition: transform .3s ease-in-out, opacity .2s ease-in-out
    height: 100%
    .fields
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      .field
        margin: 0 10px 20px 0
        width: 30%
        label
          font-weight: bold
    .buttons__panel
      display: flex
  &__filter-groups
    padding-bottom: 120px
  &__full
    &.panel__collapsed
      padding: 25px 0 0 0
      background-color: transparent
      height: 100%
      box-shadow: none
  &__filter-groups
    display: flex
    flex-direction: column