@import '../../theme/colors'
@import '../../theme/fonts'

.select
    position: relative
    width: 320px
    &__input
        height: 50px
        box-shadow: inset 0 -1px 0 0 $grey
        padding: 5px 0
        line-height: 25px
        letter-spacing: .3px
        transition: .3s ease-in-out
        cursor: pointer
        > h4
            position: relative
            top: -15px
        &__active
            box-shadow: inset 0 -1px 0 0 $lightBlue
            i.icon:after
                color: $lightBlue
        &__content
            position: relative
            bottom: 25px
            width: 100%
            display: flex
            flex-direction: row
            align-items: center
            span
                font-family: 'DIN2014Regular',sans-serif
                font-size: 15px
                display: flex
                flex: 1
                margin-right: 5px
                overflow: hidden
            .icon
                transform: rotate(180deg)
                position: relative
                right: 5px
                &:after
                    color: $grey
                    font-size: 25px
            &.__not-label
                position: relative
                bottom: -20px
                span
                  position: relative
                  top: 4px
        &:hover
            box-shadow: inset 0 -1px 0 0 $dark
            .icon:after
                color: $lightBlue
    &__active_block
        width: 100%
        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.3)
        background-color: #fff
        position: absolute
        z-index: 2
        .input_group
            display: flex
            flex-direction: column
            transition: .3s ease-in-out
            &__list
                padding: 5px 0
            .radio_button
              input[type=radio]
                margin-top: 5px
              label span
                font-size: 15px
            .radio_button:not(.radio_button--checked):hover
                cursor: pointer
                background-color: $lightBlue
                label span
                    color: #fff
                input:after
                    border-color: #fff
            .radio_button--checked
                pointer-events: none
            .checkbox:hover
                cursor: pointer
                background-color: $lightBlue
                input:after
                    border-color: #fff
                label span
                    color: #fff
                input:checked
                    &:after
                        background-color: #fff
                        border-color: #fff
                    &:before
                        border-color: $lightBlue
        .radio_button, .checkbox
            height: 30px
            padding: 0 5px
