@import 'colors'
@import 'fonts'

.columns__group
  display: flex
  flex-direction: column
  .columns__group
    &__body
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: flex-start
      flex-wrap: wrap
      margin-top: 15px
      height: 100%
      width: 100%
    &__title
      color: $dark
      padding: 0 10px 10px 10px
      font-family: $fontBold
      position: relative
      top: 10px
      white-space: nowrap
      font-size: 15px
      line-height: 25px
      letter-spacing: .3px
