@import 'colors'

.kiz
  &__circle
    display: inline-block
    opacity: 1
    height: 8px
    width: 8px
    margin-right: 5px
    border-radius: 50%
    &-green
      background-color: $green
    &-red
      background-color: $red
