@import 'fonts'
@import 'colors'

.navigation
  &__content
    display: flex
    &-submenu
      align-items: flex-end
  &__item-sub > div
    padding-bottom: 6px
    border-bottom: 3px solid transparent
  .navigation__items
    outline: none
    padding-right: 40px
    >div
      padding-top: 15px
    &-active
      >div
        padding-bottom: 8px
        border-bottom: 3px solid $lightBlue
    &-active.navigation__item-sub > div
      border-bottom: 3px solid $lightBlue
      padding-top: 0
      border-top: none
    .navigation__item
      font-size: 15px
      line-height: 25px
      letter-spacing: .3px
      font-family: $fontBold
      color: $lightBlue
      text-decoration: none
      &-active
        color: $dark


