@import 'colors'
@import 'fonts'

button
  outline: none
  border: none
  background-color: transparent

p, span
  font-family: $fontRegular
  font-size: 13px
  line-height: 15px
  letter-spacing: .3px

li
  font-family: $fontRegular
  font-size: 13px
  line-height: 15px
  letter-spacing: .3px

.disabled
  pointer-events: none

.bold
  font-family: $fontBold

.text-center
  text-align: center

.text-grey
  color: $grey

// TODO: link styles...
.link
  cursor: pointer
  color: $lightBlue
.link:hover
  opacity: 0.5
.link__action
  &--blue
    color: $lightBlue
    &:hover
      color: $dark
  &--grey
    color: $steel
    &:hover
      color: $orangeRed

.link__static
  cursor: pointer
  span
    color: $lightBlue
    font-size: 15px
    font-family: $fontBold
    letter-spacing: .3
    line-height: 25px
  &:hover
    span
      color: #32beff

.hide
  display: none !important
.inVisible
  opacity: 0

.tooltip-text
  cursor: pointer
  &:hover, &:focus
    &:after
      content: attr(data-text)
      overflow: visible
      text-overflow: inherit
      background: #fff
      position: absolute
      left: auto
      top: auto
      z-index: 9999
      width: auto
      border: 1px solid #eaebec
      padding: 0 .5rem
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.28)
      white-space: normal
      word-wrap: break-word
      display: block
      color: black
      &-delete
        max-width: 80rem
        margin-left: 2rem
      &-disabled
        max-width: 60rem
        margin-top: -1rem
      &--error
        max-width: 80rem

.red
  color: $orangeRed

.green
  color: $green

.icon_dotted
  display: block
  border-top: 6px dotted $grey
  width: 25px
  height: 25px
  transition: .3s ease-in-out
  cursor: pointer
  transform: scale(.75)
  &:hover, &__active
    border-color: $lightBlue

.icon__birka
  display: inline-block
  width: 15px
  height: 15px
  background: url('#{$imagePath}icons/birka.svg') no-repeat center

.icon__loading
  display: inline-block
  width: 10px
  height: 10px
  border: 2px solid transparent
  border-radius: 50%
  border-top-color: $deepSkyBlue
  animation: spin 1s infinite linear

.icon__success
  display: inline-block
  width: 5px
  height: 10px
  border: 2px solid $deepSkyBlue
  border-top-width: 0
  border-left-width: 0
  transform: rotate(45deg)
  &:after
    content: ''
    display: block
    width: 9px
    height: 9px

.ic_browser
  display: block
  background: url('#{$imagePath}browsers.png') no-repeat
  width: 40px
  height: 40px
  &__chrome
    background-position: -5px -5px
  &__sputnik
    background-position: -55px -5px  

.ico__required
  color: $orangeRed
