@font-face
  font-family: 'DIN2014Regular'
  src: url('./fonts/DIN2014/DIN 2014_Regular.eot')
  src: url('./fonts/DIN2014/DIN 2014_Regular.eot?#iefix') format("embedded-opentype"), url('./fonts/DIN2014/DIN 2014_Regular.woff2') format("woff2"), url('./fonts/DIN2014/DIN 2014_Regular.woff') format("woff"), url('./fonts/DIN2014/DIN 2014_Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'DIN2014Demi'
  src: url('./fonts/DIN2014/DIN 2014_Demi.eot')
  src: url('./fonts/DIN2014/DIN 2014_Demi.eot?#iefix') format("embedded-opentype"), url('./fonts/DIN2014/DIN 2014_Demi.woff2') format("woff2"), url('./fonts/DIN2014/DIN 2014_Demi.woff') format("woff"), url('./fonts/DIN2014/DIN 2014_Demi.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'DIN2014Bold'
  src: url('./fonts/DIN2014/DIN 2014_Bold.eot')
  src: url('./fonts/DIN2014/DIN 2014_Bold.eot?#iefix') format("embedded-opentype"), url('./fonts/DIN2014/DIN 2014_Bold.woff2') format("woff2"), url('./fonts/DIN2014/DIN 2014_Bold.woff') format("woff"), url('./fonts/DIN2014/DIN 2014_Bold.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'icons'
  src: url('fonts/icons/icons.eot')
  src: url('fonts/icons/icons.ttf'), url('fonts/icons/icons.woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GilroySemiBold'
  src: url('./fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot')
  src: url('./fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot?#iefix') format("embedded-opentype"), url('./fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff') format("woff"), url('./fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf') format("truetype")
  font-weight: normal
  font-style: normal
