@import 'fonts'
@import 'colors'
@import 'mixins'

h1
  @include h1()
  span
    @include h1()
    display: inline-block

h2
  font-family: 'DIN2014Bold', sans-serif
  font-size: 20px
  color: $dark
  line-height: 35px
  letter-spacing: .3px
  .regular
    font-family: 'DIN2014Regular', sans-serif
  .link
    color: $lightBlue

h3
  font-family: 'DIN2014Regular', sans-serif
  font-size: 15px
  color: $dark
  line-height: 25px
  letter-spacing: .3px
  &.bold
    font-family: 'DIN2014Bold',sans-serif
  &.link
    color: $lightBlue

h4
  font-family: 'DIN2014Demi', sans-serif
  font-size: 13px
  color: $dark
  line-height: 15px
  letter-spacing: .3px
  &.link
    cursor: pointer
    color: $lightBlue
    transition: .3s ease-in-out
    &:hover
      color: $dark
  &.light-grey
    color: $grey
  &.regular
    font-family: 'DIN2014Regular', sans-serif
  &.steel
    font-family: 'DIN2014Regular', sans-serif
    color: $steel
