@import 'colors'

@mixin time($color: $lightBlue, $size: 25px)
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 25 25"><path fill="#{$color}" fill-rule="nonzero" d="M13.462 5c-3.72 0-6.841 2.556-7.733 6H3.694c-.206 0-.256.119-.11.265l2.845 2.844a.377.377 0 0 0 .53 0l2.845-2.844c.146-.146.097-.265-.11-.265H7.823c.826-2.325 3.036-4 5.642-4 3.309 0 6 2.691 6 6s-2.691 6-6 6a5.993 5.993 0 0 1-4.885-2.528l-1.438 1.41A7.977 7.977 0 0 0 13.46 21c4.412 0 8-3.589 8-8s-3.588-8-8-8zm.5 4h-1c-.275 0-.5.225-.5.5v5c0 .275.225.5.5.5h3c.275 0 .5-.225.5-.5v-1c0-.275-.225-.5-.5-.5h-1.5V9.5c0-.275-.225-.5-.5-.5z"/></svg>')
  width: $size
  height: $size

@mixin trash($color: $orangeRed, $size: 25px)
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 25 25"><path fill="#{$color}" fill-rule="nonzero" d="M19 5.5h-4.283c-.55-.609-1.336-1-2.217-1s-1.667.391-2.217 1H6c-.275 0-.5.225-.5.5v1c0 .275.225.5.5.5h13c.275 0 .5-.225.5-.5V6c0-.275-.225-.5-.5-.5zm-1.5 13v-9h-10v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2z"/></svg>')
  width: $size
  height: $size

@mixin crossDoc($color: $lightBlue, $size: 25px)
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 25 25"><path fill="#{$color}" fill-rule="nonzero" d="M15.5 7a.5.5 0 0 1-.5-.5V4H8a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7h-2.5zm.5 5.5a.5.5 0 0 1-.5.5H13v2.5a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5V13H8.5a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5H11V8.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V11h2.5a.5.5 0 0 1 .5.5v1z"/></svg>')
  width: $size
  height: $size

@mixin closeRefresh($color: $lightBlue, $size: 25px)
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 25 25"><g fill="#{$color}" fill-rule="evenodd"><path fill-rule="nonzero" d="M13.462 5c-3.72 0-6.841 2.556-7.733 6H3.694c-.206 0-.256.119-.11.265l2.845 2.844a.377.377 0 0 0 .53 0l2.845-2.844c.146-.146.097-.265-.11-.265H7.823c.826-2.325 3.036-4 5.642-4 3.309 0 6 2.691 6 6s-2.691 6-6 6a5.993 5.993 0 0 1-4.885-2.528l-1.438 1.41A7.977 7.977 0 0 0 13.46 21c4.412 0 8-3.589 8-8s-3.588-8-8-8z"/><path d="M14.914 13l1.414-1.414-1.414-1.414-1.414 1.414-1.414-1.414-1.414 1.414L12.086 13l-1.414 1.414 1.414 1.414 1.414-1.414 1.414 1.414 1.414-1.414L14.914 13z"/></g></svg>')
  width: $size
  height: $size

@mixin download($color: $lightBlue, $size: 25px)
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 25 25"><path fill="#{$color}" fill-rule="nonzero" d="M20.119 18.5H4.881a.382.382 0 0 0-.381.382v1.237c0 .21.171.381.381.381h15.238c.21 0 .381-.171.381-.381v-1.237a.382.382 0 0 0-.381-.382zm-7.889-3a.383.383 0 0 0 .539 0l4.798-4.731c.147-.147.098-.269-.112-.269H14.5V4.881a.38.38 0 0 0-.381-.381h-3.238a.38.38 0 0 0-.381.381V10.5H7.545c-.21 0-.26.121-.112.269L12.23 15.5z"/></svg>')
  width: $size
  height: $size

@mixin take($color: $lightBlue, $size: 25px)
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 25 25"><path fill="#{$color}" fill-rule="nonzero" d="M6.1,13.5L1.4,8.9C0.9,8.4,0.9,7.5,1.4,7s1.4-0.5,2,0l2.7,2.7l6.5-6.3c0.5-0.5,1.4-0.5,2,0s0.5,1.4,0,1.9 L6.1,13.5z"/></svg>')
  width: $size
  height: $size

@mixin shuba($color: $grey, $width: 85px, $height: 100px)
  background-repeat: no-repeat
  background-position: center
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="#{$width}" height="#{$height}" viewBox="0 0 44 56" style="enable-background:new 0 0 44 56;" xml:space="preserve"><path style="fill: #7E8390" class="st0" d="M44,43.7c0-0.3-0.5-7.8-2.2-14.3c-1.7-6.3-4.2-15.3-5.9-19.4c0-0.1,0-0.1,0-0.2c0-0.2,0-0.3,0-0.5c0-0.1,0-0.2-0.1-0.3c0,0,0,0,0-0.1l0,0C35,3.5,29.7,0,22,0C14.3,0,9,3.5,8.2,8.8l0,0c0,0,0,0,0,0.1c0,0.1,0,0.2-0.1,0.3c0,0.2,0,0.3,0,0.5c0,0.1,0,0.2,0,0.2C6.4,14.1,3.9,23,2.2,29.4C0.5,35.9,0,43.3,0,43.7l0,0.6l0.5,0.3c0.2,0.1,1.2,0.7,3.5,0.9c0.5,0,1,0.1,1.4,0.1c0.6,0,1.1,0,1.4-0.1c-0.9,4.9-0.4,7.7,1.4,8.9c2.4,1.6,4.5,1.6,7.1,1.7l0.9,0c0.1,0,0.2,0,0.4,0c1.6,0,3.9-0.2,5.5-1c1.7,0.8,4,1,5.5,1c0.1,0,0.2,0,0.4,0l0.9,0c2.6,0,4.7,0,7.1-1.7c1.8-1.2,2.2-4,1.4-8.9c0.3,0.1,0.8,0.1,1.4,0.1c0.4,0,0.8,0,1.4-0.1c2.4-0.2,3.4-0.8,3.5-0.9l0.5-0.3L44,43.7z M10.2,9.1C10.8,4.8,15.4,2,22,2c6.6,0,11.2,2.8,11.8,7.1c0,0.2,0,0.5,0.1,0.7c0.3,6.2-6.8,12-10,14.5c0-0.1,0-0.1,0-0.2c0.1-1.1-0.3-2.8-0.9-4.9c0.5-1.4,1-3,1.7-4.5c0.8-2,1.7-4.7,1.3-6.6c-0.6-2.3-3-2.3-4-2.3c-1,0-3.5,0-4,2.3c-0.5,1.9,0.4,4.6,1.3,6.6c2,4.6,2.8,8,2.7,9.3c0,0.9-0.1,1.2-0.2,1.4c-0.1,0-0.5-0.2-1.1-0.7l-0.2-0.1c-2.9-2.3-10.6-8.3-10.4-14.8C10.1,9.6,10.1,9.4,10.2,9.1z M30.3,26c-0.8,0.2-3.1,0.8-6.5,0.9c0.3-0.2,0.6-0.3,0.9-0.6l0.2-0.1c2.1-1.6,6.3-4.9,8.9-9.1c-0.3,1.7-0.6,3.2-1.2,4.5C31.5,24,30.6,25.4,30.3,26z M34.1,33.5c0.1,0.5,0.2,1,0.3,1.5c-1-2.9-2.1-5.3-2.3-5.9l-0.1-1.9c0.1-0.2,0.3-0.4,0.4-0.7C32.8,28,33.4,30.4,34.1,33.5z M30,28.6c-0.3,0.1-0.7,0.2-1.2,0.4v-0.6c0.4-0.1,0.8-0.2,1.2-0.2L30,28.6z M26.3,29.5v-0.7c0.2,0,0.3,0,0.5-0.1v0.7C26.7,29.4,26.5,29.4,26.3,29.5z M26.8,31.4v13.1h-0.5v-13C26.5,31.5,26.7,31.4,26.8,31.4z M9.5,40.3l-5.4-3.7c-0.2-0.2-0.4-0.4-0.4-0.7c-0.1-0.3,0-0.6,0.2-0.8L8.7,28c0.2-0.2,0.4-0.4,0.7-0.4l4.3-0.5c0,0,0.1,0,0.1,0c0.5,0,0.9,0.3,1,0.8L16,32v0c0.1,0.3,0,0.6-0.2,0.8L10.9,40c-0.2,0.2-0.4,0.4-0.7,0.4C10,40.5,9.7,40.4,9.5,40.3z M11.5,21.5c-0.5-1.3-0.9-2.8-1.2-4.5c2.6,4.2,6.9,7.5,8.9,9.1l0.2,0.1c0.3,0.2,0.5,0.4,0.9,0.6c-1.4-0.1-2.7-0.2-3.7-0.4c-0.6-1.1-1.8-1.7-3-1.6l-0.3,0C12.7,24.3,12.1,23.1,11.5,21.5z M17.2,28.7c1.3,0.2,2.9,0.3,4.8,0.3c0.8,0,1.6,0,2.3-0.1v0.7c-0.7,0-1.5,0.1-2.3,0.1c-1.9,0-3.4-0.1-4.6-0.3L17.2,28.7z M22,16.2c-0.3-0.7-0.6-1.5-0.9-2.3c-1.5-3.4-1.3-4.9-1.2-5.3C20,8.3,20.1,7.9,22,7.9s2,0.4,2.1,0.8c0.1,0.4,0.3,1.9-1.2,5.3C22.6,14.7,22.3,15.5,22,16.2z M8.1,15.9c0.2,2.4,0.7,4.5,1.5,6.4c0.2,0.6,0.5,1.1,0.7,1.6c-0.1,0.3-0.3,0.9-0.5,1.6l-0.6,0.1c-0.9,0.1-1.6,0.6-2.1,1.3l-3.4,4.9c0.1-0.6,0.3-1.3,0.4-1.9C4.8,27.3,6.5,21,8.1,15.9z M4.2,43.4c-1-0.1-1.7-0.2-2.1-0.4c0.1-1,0.2-2.8,0.6-5.1c0.1,0.1,0.2,0.2,0.4,0.3l3.6,2.4c-0.2,1.2-0.4,2.2-0.5,2.8C5.7,43.5,5.1,43.5,4.2,43.4z M22,52.1c0,0.3-0.1,0.5-0.3,0.7c-0.8,0.8-2.9,1.2-5.6,1.2l-0.9,0c-2.6,0-4.1,0-6-1.3c-0.8-0.5-1.7-2.6,0.2-10.3c0.2,0,0.4,0.1,0.6,0.1c1,0,1.9-0.5,2.5-1.3l4.9-7.2c0.5-0.7,0.7-1.6,0.4-2.5l0,0c1.2,0.1,2.5,0.2,4.1,0.2c0,0,0,0,0,0V52.1z M34.8,52.7c-1.9,1.3-3.4,1.3-6,1.3l-0.9,0c-1.7,0-3.1-0.1-4.2-0.5c0.2-0.4,0.4-0.9,0.4-1.4V31.7c0.1,0,0.2,0,0.3,0v14.8h4.5V31c0.7-0.2,1.3-0.3,1.7-0.5c0.8,1.9,2.6,6.4,3.6,10.3C36.6,49.8,35.6,52.1,34.8,52.7z M39.8,43.4c-0.9,0.1-1.5,0.1-1.9,0c-0.3-1.6-0.9-5.6-1.9-10.4c-1-5-2-8.1-2.3-9.2c0.2-0.5,0.5-1,0.7-1.6c0.8-1.8,1.3-4,1.5-6.4c1.6,5.1,3.3,11.4,4,13.9c1.4,5.2,1.9,11.2,2.1,13.2C41.5,43.2,40.9,43.4,39.8,43.4z"/><path style="fill: #7E8390" class="st0" d="M10.8,32.5c0.4,0.3,0.9,0.4,1.4,0.4c0.8,0,1.5-0.4,2-1.1c0.8-1.1,0.5-2.6-0.6-3.4c-1.1-0.8-2.6-0.5-3.4,0.6c-0.4,0.5-0.5,1.2-0.4,1.8C9.9,31.6,10.3,32.2,10.8,32.5z M11.8,30.3c0.1-0.1,0.2-0.2,0.4-0.2c0.1,0,0.2,0,0.2,0.1c0.2,0.1,0.3,0.4,0.1,0.6C12.4,31,12.2,31,12,30.9l0,0c-0.1-0.1-0.2-0.2-0.2-0.3S11.7,30.4,11.8,30.3z"/></svg>')
  height: 100px
  width: 100%
@mixin reject($color: $mango, $size: 25px)
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 25 25"><path fill="#{$color}" fill-rule="nonzero" d="M14.5,10h-13C1.2,10,1,9.8,1,9.5v-2C1,7.2,1.2,7,1.5,7h13C14.8,7,15,7.2,15,7.5v2C15,9.8,14.8,10,14.5,10z"/></svg>')
  width: $size
  height: $size

@mixin recall($color: $lightBlue, $size: 25px)
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 25 25"><path fill="#{$color}" fill-rule="nonzero" d="M11,4H5V2L1,5l4,3V6h6c1.1,0,2,0.9,2,2v2c0,1.1-0.9,2-2,2H5H3H1.5C1.2,12,1,12.2,1,12.5v1C1,13.8,1.2,14,1.5,14H11c2.2,0,4-1.8,4-4V8C15,5.8,13.2,4,11,4z"/></svg>')
  width: $size
  height: $size

@mixin hourglass($color: $grey, $size: 25px)
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 25 25"><path fill="#{$color}" fill-rule="nonzero" d="M8,0C3.6,0,0,3.6,0,8c0,4.4,3.6,8,8,8s8-3.6,8-8C16,3.6,12.4,0,8,0z M8,14c-3.3,0-6-2.7-6-6s2.7-6,6-6c3.3,0,6,2.7,6,6S11.3,14,8,14z M10.5,8H9V4.5C9,4.2,8.8,4,8.5,4h-1C7.2,4,7,4.2,7,4.5v5C7,9.8,7.2,10,7.5,10h3c0.3,0,0.5-0.2,0.5-0.5v-1C11,8.2,10.8,8,10.5,8z"/></svg>')
  width: $size
  height: $size
