@import 'fonts'
@import 'colors'
@import 'mixins'
@import 'icons.variables'

.icon
  font-family: 'icons'
  font-style: normal
  line-height: 1em
  &:hover
    //opacity: .5
    transition: .3s ease-in-out
  &__disabled
    pointer-events: none
    color: $grey
  &__blue:after
    color: $lightBlue
  &__orange:after
    color: $orangeRed
  &__grey:after
    color: $grey
  &:after
    font-size: 2em
    font-family: 'icons'
  &__filter:after
    content: '\e800'
  &__close_refresh:after
    content: '\e810'
  &__mark_small
    &:after
      content: '\e804'
    &__up
      +rotate(180)
  &__time_refresh:after
    content: '\e80c'
  &__calendar:after
    content: '\e80d'
  &__cross:after
    content: '\e811'
  &__save:after
    content: '\e805'
  &__upload:after
    content: '\e80a'
  &__calendar_open:after
    content: '\e80e'
  &__cross_doc:after
    content: '\e812'
  &__arrow-down:after
    content: '\e802'
  &__arrow-down
    @include rotate(180)
  &__arrow-left
    @include rotate(90)
    &:after
      content: '\e802'
  &__arrow-right
    @include rotate(-90)
    &:after
      content: '\e802'
  &__arrow-up:after
    content: '\e802'
  &__search:after
    content: '\e806'
  &__back_page:after
    content: '\e80b'
  &__close:after
    content: '\e80f'
  &__downland:after
    content: '\e813'
  &__mark_lighter:after
    content: '\e803'
  &__sort:after
    content: '\e807'
  &__basket:after
    content: '\e80c'
  &__toggle_column:after
    content: '\e809'

.icon-circle
  display: block
  width: 6px
  height: 6px
  border-radius: 50%
  background-color: $dark
  &__orange
    background-color: $orangeRed
  &__blue
    background-color: $lightBlue
  &__aqua
    background-color: $aqua

.iconSvg
  font-family: 'icons'
  height: 25px
  width: 25px
  font-size: 11px
  &__take
    @include take($steel)
    &.--selected
      @include take($lightBlue)
  &__hourglass
    @include hourglass($steel)
    &.--selected
      @include hourglass($lightBlue)
  &__recall
    @include recall($steel)
    &.--selected
      @include recall($mango)
  &__reject
    @include reject($steel)
    &.--selected
      @include reject($mango)

// .iconSvg
//   &__time
//     @include time()
//     &:hover
//       @include time($orangeRed)
//   &__trash
//     @include trash()
//     &:hover
//       @include trash()
//       opacity: .5
//   &__crossDoc
//     @include crossDoc()
//     &:hover
//       @include crossDoc($orangeRed)
//   &__closeRefresh
//     @include closeRefresh()
//     &:hover
//       @include closeRefresh($orangeRed)
//   &__download
//     @include download()
//     &:hover
//       @include download($orangeRed)
