@import 'mixins'
@import 'colors'

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading
    width: $loadingSize;
    height: $loadingSize;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: (-$loadingSize/2) 0 0 (-$loadingSize/2);
    border-radius: 50%;
    border: 5px solid transparent;
    animation: spin $spinDuration infinite linear;
    border-top-color: $lightBlue