@import 'colors'
@import 'font-faces'
@import 'fonts'
@import 'headers'
@import 'icons'
@import 'common'

@include scrollbars(.4em, $lightBlue)

*
  color: $dark
  font-family: $fontRegular

body
  margin: 0
  padding: 0
  background-color: #fff
  overflow-x: hidden

#root
  position: relative
  z-index: 0

#cadesplugin_object
  width: 0
  height: 0
  position: absolute
