@import 'colors'
@import 'fonts'

$imagePath: './images/'

$small: 320px
$large: 1024px
$leftContentPadding: 87px
$rightContentPadding: 94px

@mixin clearfix()
  &:before,
  &:after
    content: ""
    display: table
  &:after
    clear: both

@mixin material_field
  padding: 0
  border: none
  border-radius: 0
  box-shadow: inset 0 -1px 0 #ddd
  font-size: 16px
  display: block
  width: 100%
  height: 37px
  line-height: 1.846
  color: #666666
  background: transparent none
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
  &:focus
    border: none
    outline: none
    box-shadow: inset 0 -2px 0 $lightBlue

@mixin responsive($media)
  @if $media == handhelds
    @media only screen and (max-width: $small)
      @content
  @else if $media == media-screens
    @media only screen and (min-width: $small + 1) and (max-width: $large - 1)
      @content
  @else if $media == wide-screens
    @media only screen and (min-width: $large)
      @content

@mixin flex
  display: -webkit-flex
  display: flex

@mixin text
  font-family: $fontRegular
  font-size: 13px
  line-height: 15px
  letter-spacing: .3px

@mixin h1($letterSpacing: .3px)
  font-family: $fontBold
  color: $dark
  font-size: 25px
  line-height: 35px
  letter-spacing: $letterSpacing

@mixin contentPadding
  padding-left: 85px
  padding-right: 94px

@mixin rotate($deg)
  -moz-transform: rotate(#{$deg}deg)
  -ms-transform: rotate(#{$deg}deg)
  -webkit-transform: rotate(#{$deg}deg)
  -o-transform: rotate(#{$deg}deg)
  transform: rotate(#{$deg}deg)

@mixin scrollbars($size, $foreground-color, $background-color: #fff)
  ::-webkit-scrollbar
    width:  $size
    height: 0

  ::-webkit-scrollbar-thumb
    background: $foreground-color
    border-radius: 3px

  ::-webkit-scrollbar-track
    background: $background-color
  body
    scrollbar-face-color: $foreground-color
    scrollbar-track-color: $background-color


