@import 'colors'
@import 'fonts'

.component-items_on_page
  position: relative
  margin-right: 38px
  .label
    min-width: 111px
    text-align: right
    transition: .3s ease-in-out
  .presentation
    height: 35px
    cursor: pointer
    display: flex
    flex-direction: row
    align-items: center
  &.static
    transition: .3s ease-in-out
    cursor: pointer
    display: flex
  .icon__arrow-down
    transition: .3s ease-in-out
    transform: rotate(180deg)
    font-size: 12.5px
    // position: relative
    // top: -3px
    color: $lightBlue
    // display: flex
    // height: 15px
    // align-items: flex-start
    height: 25px
    display: flex
    align-items: center
    margin-top: 0
    &.active
      margin-top: -6px
      transform: rotate(0deg)
  .focus
    display: flex
    flex-direction: column
    align-items: center
    overflow: visible
    background-color: #ffffff
    box-shadow: 0 4px 6px 0 rgba(21, 32, 49, 0.15)
    padding: 10px
    min-width: 50px
    position: absolute
    bottom: 61px
    right: -23px
    transition: .3s ease-in-out
    .ul
      list-style-type: none
      margin: 0
      padding: 0
      .li
        font-size: 13px
        line-height: 20px
        letter-spacing: 0.3px
        text-align: center
        color: $dark
        cursor: pointer
        .ico
          margin: 25px 25%
          position: relative
          &:before
            left: -5px
            bottom: -10px
        &:not(.__active):hover
          color: $lightBlue
        &.__active
          color: $orangeRed
    .icon
      display: block
      margin-bottom: -25px
      overflow: hidden
      &::after
        font-size: 25px
        color: #fff
      &:hover
        opacity: 1
  .inVisible
    opacity: 0
    display: none
  .docsCount
    color: $lightBlue
    font-family: $fontDemi
