@import 'colors'
@import 'fonts'
@import 'mixins'

.alert
  @include contentPadding()
  padding-top: 20px
  padding-bottom: 20px
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  &__collapsed
    padding-top: 5px
    padding-bottom: 5px
  &__info
    background-color: $lightBlue
  &__error
    background-color: $orangeRed
  &__content
    @include flex()
    justify-content: space-between
    align-items: center
    &__text
      font-size: 13px
      letter-spacing: -.1px
      font-family: $fontRegular
      color: #fff
    .icon
      cursor: pointer
    .icon:after
      font-size: 1.5em
      color: #fff