// @import '../../../assets/sass/variables'
@import 'colors'

.modal-container
  width: 100%
  height: 100%
  display: block
  position: fixed
  top: 0
  left: 0
  background: rgba(30, 30, 30, .4)
  z-index: 1
  opacity: 0
  transition-delay: .1s
  &.__opened
    transition: opacity .4s
    overflow: hidden
    opacity: 1

.Modal
  position: fixed
  width: 300px
  height: auto
  max-height: 80%
  margin-left: auto
  margin-right: auto
  left: 0
  transition-delay: .1s
  right: 0
  transform: translateY(200%)
  opacity: 0
  overflow-y: scroll
  box-shadow: 0 20px 30px 0 rgba(156, 161, 168, 0.37)
  background-color: #fff
  &__fx-header
    padding: 1px 15px
    background-color: #fff
    z-index: 2
    position: sticky
    box-shadow: 0 0 3px 0 rgba(19, 31, 49, 0.25)
    top: 0
    display: flex
    justify-content: space-between
    align-items: center
    .ico__close
      width: 20px
      height: 20px
      background-size: 100%
      transform: scale(2.5)
      background: url('./../../theme/images/icons/remove_field_selected.svg') no-repeat
      cursor: pointer
  .__container
      padding: 20px 15px
  &.__opened
    transition: transform .4s, opacity .4s
    transform: translateY(15%)
    opacity: 1
  &.__large
    width: 80%
  &.__default
    width: 50%
  &.__small
    width: 30%
  &.__full
    width: 100%
    height: 100%
    top: -15%
    max-height: none
    background-color: #fff
  .component_bottom-panel
    width: 100%

.Modal.__full
  .Modal
    &__header
      height: 16.5%
      header
        position: relative
    &__sub-header
      display: flex
      background-color: #fff
      justify-content: space-between
      align-items: center
      height: 73px
      box-shadow: 0 0 3px 0 rgba(19, 31, 49, 0.25)
      .__title
        display: flex
        align-items: center
        padding-left: 30px
        h1
          margin-left: 16px
      .icon__close
        padding-right: 25px
        cursor: pointer
        &:after
          transition: .3s ease-in-out
          color: $orangeRed
        &:hover
          &:after
            color: $mango
    &__bottom-panel
      position: sticky
      margin-top: 290px
      bottom: 0
      background-color: #fff
      padding: 18px 0
      width: 100%
      box-shadow: 0 0 6px 0 rgba(19, 31, 49, 0.15)

.Modal.__default
  min-height: 300px
  .__header
    padding: 0 0 0 15px
    h1
      margin: 20px 0 0 0
    .ico__close
      margin: 20px 15px 0 0

