@import 'colors'

.DropdownMenu
  &__callElement
    display: flex
    align-items: center
    *
      transition: .2s ease-in-out
    &:hover
      i.icon
        opacity: .5
    i.icon
      color: $lightBlue

.DropdownMenuDropdown
  position: absolute
  width: max-content
  height: max-content
  background-color: #fff
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, .3))
  padding: 15px
  opacity: 0
  &__item
    *
      transition: .3s ease-in-out
      font-family: 'DIN2014Demi'
      font-size: 15px
    cursor: pointer
    &:not(:first-of-type)
      margin-top: 10px
    &:hover
      span
        color: $lightBlue