@import 'fonts'

header
  a
    text-decoration: none
    &:hover, &:focus
      text-decoration: none
  height: 55px
  padding-left: 32px
  background-color: #ffffff
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  position: fixed
  z-index: 5
  box-shadow: 0 0 3px 0 rgba(19, 31, 49, 0.25)
  top: 0
  left: 0
  right: 0
  .header__title
    display: flex
    align-items: center
    &__logo
      width: 33px
      height: 35px
      object-fit: contain
    &__text
      margin-left: 20px
      font-family: $fontGilroy
      font-size: 13px
      text-transform: uppercase
      line-height: 15px
      letter-spacing: .8px