@import 'colors'


.formPage
  display: flex
  flex-direction: column
  &__main
    background-color: $lightGrey
    box-shadow: 0 -2px 3px -2px rgba(19, 31, 49, 0.25)
  &__content
    margin-bottom: 40px
    padding-bottom: 80px
  &__footer
    &__actions
      > button
          margin-left: 15px
  &__error
  &__error-fixed
    position: fixed
    width: 100%
    bottom: 65px

