@import '../../theme/colors'

.checkbox
  width: 20px
  height: 20px
  display: flex
  align-items: center
  justify-content: flex-end
  flex-direction: row-reverse
  label
    margin-left: 5px
  input[type=checkbox]
    position: relative
    border: none
    -webkit-appearance: none
    appearance: none
    cursor: pointer
    &:focus
      outline: none
      &:after
        border-color: $lightBlue
    &:after
      content: ''
      display: block
      width: 9px
      height: 9px
      border: 1.5px solid $grey
      border-radius: 2px
      transition: 240ms
    &:checked
      &:before
        content: ''
        position: absolute
        top: 0
        left: 4px
        display: table
        width: 3px
        height: 7px
        border: 2px solid #fff
        border-top-width: 0
        border-left-width: 0
        transform: rotate(45deg)
      &:after
        background-color: $lightBlue
        border-color: $lightBlue
  &--invalid
    input[type=checkbox]:after
      border-color: $orangeRed
  &--disabled
    cursor: default
    label h4
      color: $grey
    input[type=checkbox]:checked
      cursor: default
      &:after
        border-color: $grey
        background-color: $grey
