@import 'colors'
@import 'fonts'

.statistics-block
  overflow: hidden
  display: flex
  flex-direction: column
  background-color: $lightGrey
  padding: 20px 20px 20px 85px
  .statistics-block__item
    float: left
    margin: 0 102px 15px 0
    .label
      font-family: $fontRegular
      font-size: 13px
      line-height: 15px
      letter-spacing: .3px
      margin-bottom: 5px
      white-space: nowrap
    .value
      font-family: $fontDemi
      font-size: 20px
      line-height: 30px
      color: $dark
      white-space: nowrap
  .statistics-block__graph
    display: flex
    flex-direction: column
    width: 400px
    &__wrapper
      display: flex
      flex-direction: column
    &__item
      display: flex
      flex-direction: column
      margin: 8px 0
      .__caption
        font-family: 'DIN2014Regular'
        font-size: 13px
        line-height: 15px
        color: $steel
      .__line
        height: 7px
        border-radius: 4px
        ~ span
          margin-left: 10px
    &__green
      display: flex
      align-items: center
      .__line
        background-color: $green
    &__red
      display: flex
      align-items: center
      .__line
        background-color: $red