@import 'colors'
@import 'icons'
@import 'mixins'
@import '_variables'

.menu
  display: inline-block
  cursor: pointer
  position: relative
  top: 20px
  &__line
    width: 20px
    height: 3px
    background-color: #fff
    margin: 5px 0
    transition: .3s ease-in-out
  &-close
   .menu__line
      &-first
        transform: rotate(-45deg) translate(-2px, 4px)
      &-second
        opacity: 0
      &-third
        transform: rotate(45deg) translate(-8px, -9px)

.sidebar__icon
    background: url('#{$imagePath}sprite-icons-menu.png') no-repeat
    display: block
    width: $sidebarWidth
    height: 45px
    &__person
        background-position: -95px -140px
    &__logout
        background: url('#{$imagePath}icons/logout.svg') no-repeat
        height: 20px
        width: 20px
        margin-right: 20px
    &__ref
        background: url('#{$imagePath}icons/support.svg') no-repeat
        width: 25px
        height: 25px
        margin-left: 20px
        margin-right: 20px
    &__main
        background-position: -95px -75px
    &__kiz
        background-position: -10px -75px
    &__products
        background-position: -10px -140px
    &__transport
        background-position: -180px -75px
    &__settings
        background-position: -180px -10px
    &__actions
        background-position: -10px -10px

.sidebar
    margin-right: -$sidebarWidth - 235px
    width: $sidebarWidth + 235px
    right: $sidebarWidth
    z-index: 10
    position: fixed
    background-color: $deepSkyBlue
    top: 0
    bottom: 0
    overflow-y: auto
    overflow-x: hidden
    transition: .3s ease-in-out
    .sidebar__navigation
        display: block
        &:before, &:after
            display: none
        li
            min-height: 45px
            position: relative
            padding: 0
            margin: 0
            list-style-type: none
            a
                @include flex()
                text-decoration: none
                flex-direction: row
                justify-content: flex-start
                align-items: center
                cursor: pointer
                color: #fff
                font-size: 15px
                line-height: 25px
                z-index: 2
                font-family: $fontDemi
                transition: .3s ease-in-out
                &:hover, &:focus, &.-active
                    background-color: $mango
                &.-not-active
                    &:hover, &:focus
                        background-color: transparent
        .sidebar__navigation__menu
            position: absolute
            transition: .3s ease-in-out
            right: 235px + ($sidebarWidth - 20px) / 2
        .sidebar__navigation__organizationName
            padding-left: $sidebarWidth
            color: #ffffff
            font-size: 15px
            line-height: 20px
            font-family: $fontDemi
        .sidebar__navigation__copyright
            padding-left: $sidebarWidth
            padding-right: 20px
            margin-bottom: 17px
            color: $brightSkyBlue
            font-size: 11px
            font-family: $fontRegular
            line-height: 15px
            word-wrap: break-word
        .sidebar__navigation__reference
            a
                padding-top: 10px
                padding-bottom: 10px
        .sidebar__navigation__actions
            margin-top: 40px
        .sidebar__navigation__profile
            margin: 10px 0 45px 0
            a
                align-items: flex-start
                .sidebar__navigation__profile-user
                    @include flex()
                    flex-direction: row
                    flex: 1
                    justify-content: space-between
                    padding-top: 10px
                    >div, span
                        color: $brightSkyBlue
                        line-height: 20px
                        .sidebar__navigation__profile-user-position
                            font-size: 13px

    .sidebar__footer
        width: 100%
        position: absolute
        bottom: 10px
    &__expanded
        width: $sidebarWidth + 235px
        margin-right: -$sidebarWidth
        .sidebar__navigation
            .sidebar__navigation__menu
                right: 20px
