@import 'colors'
@import 'mixins'

.componentFooter
  height: 65px
  box-shadow: 0 0 6px 0 rgba(19, 31, 49, 0.15)
  background-color: #fff
  position: fixed
  bottom: 0
  width: 100%
  z-index: 3
  transition: .3s ease-in-out
  @include flex()
  align-items: center
  justify-content: space-between
  &__body
    @include contentPadding()
    flex: 1
    &-left
      justify-content: flex-start
      @include flex()
      flex: 1
      >div
        @include flex()
    &-right
      justify-content: flex-end
      @include flex()
      flex: 1
      >div
        @include flex()
