.CommitActions
  display: flex
  .CommitActions__item
    width: 30px
    height: 30px
    display: flex
    .icon
      &:hover
        opacity: 0.7
        cursor: pointer
      &.--selected
        color: #ff9a32