@import 'colors'

.sorting
  cursor: pointer
  display: flex
  align-items: center
  justify-content: space-between
  span
    margin-right: 10px
  .icon
    opacity: 0.5
    right: 0
    position: relative
    &::after
      font-size: 15px
  &.--down
    .icon
      transform: rotateX(180deg)
  &.__active
    .icon
      opacity: 1

.table__th:not(.__active)
  .sorting
    .icon
      &::after
        color: $grey
