// @import '../../../assets/sass/variables'
@import 'colors'
@import 'fonts'
@import '_variables'
@import '../../../Sidebar/_variables.sass'

.gradient
  filter: none

.table__container
  position: relative
  &.table__container-withcheckboxcolumn
    padding-left: 72px
  &.table__container-withtogglecolumn
    padding-right: 151px


.table__content
  //box-shadow: 0 0 3px 0 rgba(19, 31, 49, 0.25) TODO:
  margin-bottom: 65px
  >div
    position: static!important // overwrite styles of scrollbar library
    overflow: visible!important // overwrite styles of scrollbar library
  .paper_table
    min-width: 100%
    //box-shadow: 0 0 3px 0 rgba(19, 31, 49, 0.25) TODO:
    border-spacing: 0
    // padding-right: 59px
    // &.table__withCheckbox
    //   padding-right: $sidebarWidth+65px
    // &.table__withToggleColumn
    //   padding-right: ($sidebarWidth+$toggleColumnWidth) - 73px
    // &.table_withCheckboxToggleColumn
    //   padding-right: $toggleColumnWidth+73px
    *
      line-height: 25px
      letter-spacing: 0.3px
    thead
      tr
        th
          border-bottom: 1px solid $borderGrey
          border-right: 1px solid $borderGrey
          background-color: $lightPaleGrey
          text-align: left
          margin: 0
          padding: 0
          &.table__th-last
            border-right: 0
          &.table__th-empty
            width: $checkboxWidth
            .th-inner
              width: $checkboxWidth
          &.table__checkbox-th
            position: absolute
            min-width: $checkboxWidth
            top: auto
            left: 0
            border-left-width: 0
            .th-inner
              width: $checkboxWidth
          .th-inner
            padding: 10px 7px 10px 7px
            font-family: $fontBold
            font-size: 13px
            height: $columnHeaderHeight
            white-space: nowrap
            span
              font-family: $fontBold
              font-size: 13px
              line-height: 13px
              white-space: nowrap
            .th-add
              width: 25px
              height: 25px
              background: url('../../../../theme/images/icons/active.svg') no-repeat

          &.table__editable-th
              position: absolute
              right: 0
              top: auto
              width: $toggleColumnWidth
              min-width: $toggleColumnWidth
              border-left: 1px solid $borderGrey
              border-right: 0
              .th-inner
                padding-left: 30px
                .component_toggle-column
                  height: $columnHeaderHeight
          &:hover
            background-color: $paleGrey
          &.__active
            background-color: $paleGrey
    tbody
      position: relative
      tr
        border-bottom: 1px solid $borderGrey
        &:nth-child(odd)
          background-color: #fff
          td.table__checkbox-td
            background-color: #fff
          td.table__editable-td
            background-color: #fff
        &.row__disabled:hover
          background-color: transparent
          // td.table__checkbox-td
          //     background-color: transparent
          // td.table__editable-td
          //   background-color: transparent
        &:nth-child(even)
          background-color: $lightGrey
          td.table__checkbox-td
              background-color: $lightGrey
          td.table__editable-td
            background-color: $lightGrey
        &.row__disabled:nth-child(even):hover
          background-color: $lightGrey
          // td.table__checkbox-td
          //     background-color: $lightGrey
          // td.table__editable-td
          //   background-color: $lightGrey
        &:hover
          background-color: $paleGrey
          // TODO: breaks animation
          // td.table__checkbox-td
          //     background-color: $paleGrey
          // td.table__editable-td
          //   background-color: $paleGrey
        &.tr-empty
          pointer-events: none
          position: absolute
          margin: 25px auto
          left: 0
          border: none
          text-align: center
          right: 0
          display: flex
          justify-content: center
          div
            color: $grey
        td
          position: relative
          white-space: nowrap
          padding: 10px 7px 10px 7px
          .td-inner
            height: $columnHeaderHeight
            font-family: $fontRegular
            font-size: 15px
            overflow: hidden
            span
              font-family: $fontRegular
              font-size: 15px
            .select
              height: 100%
              width: 100%
            .select__input
              height: calc(100% - 10px)
            .select__input__content
              bottom: 0
              height: 100%
          &.editable
            padding-top: 0
            padding-bottom: 0
            padding-right: 0
            .td-inner
              height: 46px
              overflow: visible
              >div:not(.select)
                overflow: hidden
                padding-right: 7px
                &.field__input
                  height: 100%
                  margin-bottom: 0
                  input
                    height: calc(100% - 20px)
          &.td-disabled
            .td-inner
              opacity: $disabledOpacity
          .checkbox
            margin: 5px
          &.table__editable-td
            height: $columnHeaderHeight
            min-width: $toggleColumnWidth
            width: $toggleColumnWidth
            position: absolute
            right: 0
            top: auto
            padding-right: 0
            padding-left: 0
            border-left: 1px solid $borderGrey
            .td-inner
              padding-left: 30px
              display: inline-block
            .tooltip
              display: inline
              &__call_element
                  display: inline
            &.td-disabled
              border-left-color: rgba($borderGrey, $disabledOpacity)
          &.table__checkbox-td
            min-width: $checkboxWidth
            width: $checkboxWidth
            position: absolute
            left: 0
            top: auto
            border-right: 1px solid $borderGrey
            &.td-disabled
              border-right-color: rgba($borderGrey, $disabledOpacity)
            .td-inner
              flex: 1
              display: flex
              flex-direction: row
              justify-content: flex-end