.component-drop-down-button
  position: relative
  transition: .3s ease-in-out
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  .focus
    display: flex
    flex-direction: column
    align-items: center
    overflow: visible
    background-color: #ffffff
    box-shadow: 0 4px 6px 0 rgba(21, 32, 49, 0.15)
    padding: 10px
    position: absolute
    bottom: 61px
    transition: .3s ease-in-out
    button
      margin-bottom: 10px
      margin-left: 0
      min-width: 225px
    .icon__mark_lighter
      display: block
      position: absolute
      bottom: -15px
      &::after
        font-size: 25px
        color: #fff
      &:hover
        opacity: 1
