.filter-group
  display: flex
  flex-direction: column
  width: 100%
  margin-top: 25px
  &__fields
    display: flex
    flex-wrap: wrap
    align-items: flex-end
    > div
      width: 30%
      min-width: 320px
      margin: 25px 25px 25px 0
      input[type=text]
        width: 100%