@import 'mixins'

.prod-info-field
  @include flex()
  flex-direction: row
  .button
    @include flex()
    width: 25px
    height: 25px
    align-items: center
    justify-content: center
    margin-right: 2px
    cursor: pointer
    .icon
      width: 20px
      height: 20px
      background: url('#{$imagePath}icons/attention_blue.svg') no-repeat
